
#body{
	float: left;
	height: 90vh;
	height-max: auto;
	width: 82.65vw;
	background-color: white;
}

label.user{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5vw;
	letter-spacing: 0.2vw;
	text-shadow: 1px 1px 2px gray;
}

input.user{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.1vw;
	letter-spacing: 0.1vw;
	
	padding: 0.25vw 0.5vw;
	border: 0.1vw solid black;
	border-radius: 0.2vw;
	
}

button.user{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2vw;
	letter-spacing: 0.2vw;
	text-align: center;
	text-shadow: 1px 1px 2px gray;
	color: white;
	
	padding: 0.5vw 2vw;
	border: none;
	border-radius: 0.3vw;
	box-shadow: 0.2vw 0.2vw 0.1vw grey;

	
}
button.user:HOVER {
	cursor: pointer;
}
