.myAccount-table{
	margin-top: 2vw;
	margin-left: 1vw;
	text-align: right;
	float: left;
	width: 38.2vw;
}

.myAccount-table td{
	padding: 1.8vw 1.8vw;
	background-color: white;
}

.myAccount-table label{
	color: black;
	text-shadow: none;
}

.myAccount-table input{
	box-shadow: 0.2vw 0.2vw 0.1vw gray;
}
.myAccount-table input:HOVER{
	background-color: #e6e6e6;
}
.myAccount-table input:FOCUS{
	background-color:  #e6e6e6;
	box-shadow: 0.35vw 0.35vw 0.18vw gray;
}

.myAccount-table.doctor td{
	padding: 1.3vw 1.5vw;
}

.myAccount-table.doctor select{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3vw;
	max-width: 16vw;
	min-width: 16vw;
	border-radius: 0.2vw;
	padding: 0vw 0.4vw;
	border: 0.1vw solid black;
	box-shadow: 0.2vw 0.2vw 0.1vw gray;
}

#myAccount-save{
	background-color: #008ae6; 
	padding: 0.7vw 7vw;
	font-size: 1.3vw;
	margin-top: 3vw;
	margin-left: 10vw;
}
#myAccount-save:HOVER {
	background-color: #005ce6;
}

#myAccount-title{
	width: 77vw;
	height: 5vw;
	text-align: left;
	margin-top: 1vw;
	margin-left: 1vw;
	background-color: white;
	border-bottom: 0.2vw solid black;

}

#myAccount-title p{
	margin: 0vw;
	padding-left: 5vw;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-shadow: 1px 1px 2px #d6d6d6;
	font-size: 3.5vw;
	letter-spacing: 0.4vw;
	color: black;
}