
#queue{
	float: left;
	width: 40vw;
	min-height: 70vw;
	height: auto;
	background-color: #008ae6;
	
	margin-left: 8.5vw;
	margin-top: 5vh;
	padding: 1vw 1vw;
	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.4vw;
	letter-spacing: 0.1vw;
	text-align: center;
	color: white;
}

#queue p{
	margin-bottom: -3.5vh;
}

#title{
	margin-top: -1vh
}

#queue table{
	margin-top:5vh;
	margin-left: 20%;
	color: black;
	width: 60%;
}

#queue td{
	width: 100%;
	padding: 0.5vw 1vw;
}

#lack-of-visit{
	width: 60vw;
	height: 10vh;
	background-color: #008ae6;
	border-radius: 0.4vw;
	
	margin-top: 5vh;
	margin-left: 10vw;
	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 2.1vw;
	letter-spacing: 0.2vw;
	text-align: center;
	color: white;
}

#legend{
	float: left;
	width: 30vw;
	height: 55vh;
	background-color: #008ae6;
	
	margin-left: 1vw;
	margin-top: 5vh;
	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.2vw;
	text-align: center;
	color: white
}

#legend table{
	width: 80%;
	border-spacing: 1vw;
	margin-left: 10%;
}

#legend td{
	width: 10%;
	margin: 1vw 1vw;
}

#legend h1{
	font-size: 2vw;
	margin-top: 0.5vw;
}

#present{
	background-color: #66ff66;
}

#absent{
	background-color: #ff4d4d;
}

#current{
	background-color: #33adff;
}

#inQueue{
	background-color: #ffff66;
}

#firstAbsent{
	background-color: #ff8c1a;
}

#position{
	float: left;
	width: 30vw;
	height: 10vh;
	
	background-color: #008ae6;
	color: white;
	
	text-align: center;
	margin-left: 1vw;
	margin-top: 2vh;
}

#position h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.3vw;
	margin-top: 2vh;
}