
#admin-menu{
	float: left;
	height: 90vh;
	height-max: auto;
	width: 16vw;
	background-color: #000080;
	color: white;
}
#admin-menu-table{
	width: 100%;
	text-align: left;
}

.admin-menu-td{
	border: 0.1vw solid white;
	font-size: 1.3vw;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 650;
	letter-spacing: 0.1vw;
	text-shadow: 1px 1px 2px #000000;
	padding: 0vw 0vw;
	margin: 0vw 0vw;
	
}
.admin-menu-td:HOVER {
	background-color: #00cc00;
	cursor: pointer;
}

table a{
	display:block;
    text-decoration:none;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0.8vw 0.8vw;
    color: white;
}