
#admin-menu{
	float: left;
	height: 90vh;
	height-max: auto;
	width: 16vw;
	background-color: #008ae6;
	color: white;
}
#admin-menu table{
	width: 100%;
	text-align: left;
}

#admin-menu td{
	border: 0.1vw solid white;
	font-size: 1.3vw;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 0.2vw;
	text-shadow: 1px 1px 2px #000000;
	padding: 0.8vw 0.8vw;
	
}
#admin-menu td:HOVER {
	background-color: #0066cc;
	cursor: pointer;
}