
#body{
	float: left;
	height: 90vh;
	height-max: auto;
	width: 82.8vw;
	background-color: white;
}


.admin-table{
	display: block;
    border-collapse: collapse;
    border: 0.1vw solid black;
    margin-left: 3%;
    margin-top: 1%;
    font-size: 0.8vw;
    font-family: Arial, Helvetica, sans-serif; 
    width: 94.3%; 
 
}
.admin-table thead{
	position: relative;
	display: block;
}
.admin-table tbody{
	display: block;
	overflow-y: scroll;
	max-height: 40vh;  
}
.table-header{
	
	background-color: #000080;
	font-size: 1vw;
	font-weight: 600;
	color: white;
	border-right: 0.1vw solid white;
	border-bottom: 0.1vw solid white;
}

tr.odd{
	background-color:  #f2f2f2;
	border-bottom: 0.1vw solid black;
}


tr.even{
	background-color:  #d9d9d9;
	border-bottom: 0.1vw solid black;
}
tr.even:HOVER, tr.odd:HOVER {
	background-color: #79ff4d;
}	

.admin-table td, .admin-table th{
	min-width: 6vw;
	max-width: 6vw;
	max-height: 1vw;
	min-height: 1vw;
	border-right: 0.1vw solid black;
	text-align: center;
	padding: 1vw 0.5vw;
	overflow-wrap: break-word;

}

.admin-table th{
	border-right: 0.1vw solid;
}

label.admin{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3vw;
	font-weight: 600;
	letter-spacing: 0.05vw;
}

input.admin, select.admin{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1vw;
	font-weight: 550;
	
	padding: 0.2vw 0.5vw;
	background-color: #f2f2f2;
	border: 0.1vw solid black;
	box-shadow: 0.2vw 0.2vw 0.1vw grey;
	border-radius: 0.3vw;
	
	width: 10vw;
}

input.admin:HOVER, select.admin:HOVER{
	background-color: #d9d9d9;
}
input.admin:FOCUS{
	box-shadow: 0.4vw 0.4vw 0.2vw grey;
	background-color: #d9d9d9;
}

select.admin{
	width: 11.25vw;
}

.button-delete{
	background-color: #ff0000;
}
.button-delete:HOVER{
	background-color: #cc0000;
}

.button-create{
	background-color: #33cc33;
}
.button-create:HOVER{
	background-color: #29a329;
}

.button-update{
	background-color: #ff9900;
}
.button-update:HOVER{
	background-color: #e68a00;
}

.button-search{
	background-color: #3399ff;
}
.button-search:HOVER{
	background-color: #0073e6;
}

input[type="checkbox"] {
    cursor: pointer;
}