<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		
	<title th:text = "#{menu.usersManagement}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/admin/body.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/admin/usersManagement.css}" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

<body  style="margin: 0px;">

	<div th:replace = "fragments/adminHeader"></div>
	<div th:replace = "fragments/adminMenu"></div>
	
	<div id ="body">
		<table class ="admin-table">
			<thead>
			<tr>
				<th class = "table-header" th:text = "#{personalIdentificationNumber}"></th>
				<th class = "table-header" th:text = "#{table.name}"></th>
				<th class = "table-header" th:text = "#{table.surname}"></th>
				<th class = "table-header" th:text = "#{table.birthDate}"></th>
				<th class = "table-header" th:text = "#{table.streetAddress}"></th>
				<th class = "table-header" th:text = "#{table.city}"></th>
				<th class = "table-header" th:text = "#{table.postalCode}"></th>
				<th class = "table-header" th:text = "#{table.phone}"></th>
				<th class = "table-header" th:text = "#{table.email}"></th>
				<th class = "table-header" style ="max-width: 7vw;min-width: 7vw;">Role</th>
				<th class = "table-header" style ="max-width: 5.2vw;min-width: 5.2vw;" th:text = "#{table.select}"></th>		
			</tr>
			</thead>
			<tbody>
		<tr th:each="user, iterStat : ${users}" th:class = "${iterStat.odd}? 'odd' : 'even'">
				<td th:text = "${user.getPesel()}"></td>
				<td th:text = "${user.getName()}"></td>
				<td th:text = "${user.getSurname()}"></td>
				<td th:text = "${#strings.substring(user.getBirthDate(),0,11)}"></td>
				<td th:text = "${user.getStreetAddress()}"></td>
				<td th:text = "${user.getCity()}"></td>
				<td th:text = "${user.getPostalCode()}"></td>
				<td th:text = "${user.getPhone()}"></td>
				<td th:text = "${user.getEmail()}"></td>
				<td th:text = "${user.getRole()}" style ="max-width: 7vw;min-width: 7vw;"></td>
				<td style = "max-width: 4vw;min-width: 4vw;">
				<input id="select" name = "select" type ="checkbox" onclick="sub()" th:value = "${user.getPesel()}"></td>
			</tr>
			</tbody>
		</table>
			
			
		<script type="text/javascript">
			function sub(){
		         var val = [];
		         
		         $(':checkbox:checked').each(function(i){
		           val[i] = $(this).val();
		         });
		         
		         document.getElementById("usersIDs").value = val;
			}
			
			$(document).ready(function() {
				    $("#datepicker").datepicker();
			});		
		</script>
		
		
		<form id ="update" action = "#" th:action="@{/admin/usersManagement/update}" th:object="${user}"  method="post">
			<table class = "input-table">
				<tr>
					<td>
						<label class = "admin" th:text = "#{personalIdentificationNumber}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{pesel}" type = "text"/>
					</td>
					<td>
						<label class = "admin" th:text = "#{form.name}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{name}" type = "text"/>
					</td>
					<td>
						<label class = "admin" th:text = "#{form.surname}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{surname}" type = "text"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class = "admin" th:text = "#{form.gender}"></label>
					</td>
					<td>
						<select class = "admin" th:field = "*{gender}">
							<option selected="selected" value = ""></option>
							<option th:value = "male" th:text = "#{form.gender.male}"></option>
							<option th:value = "female" th:text = "#{form.gender.female}"></option>
						</select>
					</td>
					<td>
						<label class = "admin" th:text = "#{form.birthDate}"></label>
					</td>
					<td>
						<input class = "admin" id = "datepicker" th:field = "*{birthDate}"/>
					</td>
					<td>
						<label class = "admin" th:text = "#{password}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{password}" type = "password"/>
					</td>
				</tr>
				<tr>			
					<td>
						<label class = "admin" th:text = "#{form.streetAddress}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{streetAddress}" type = "text"/>
					</td>

					<td>
						<label class = "admin" th:text = "#{form.city}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{city}" type = "text"/>
					</td>
					<td>
						<label class = "admin" th:text = "#{form.postalCode}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{postalCode}" type = "text"/>
					</td>
				</tr>
				<tr>				
					<td>
						<label class = "admin" th:text = "#{form.phone}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{phone}" type = "text"/>
					</td>

					<td>
						<label class = "admin" th:text = "#{form.email}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{email}" type = "text"/>
					</td>
					<td>
						<label class = "admin">Role</label>
					</td>
					<td>
						<select class = "admin" th:field = "*{role}">
							<option selected="selected" value = ""></option>
							<option th:value = "ROLE_USER" th:text = "ROLE_USER"></option>
							<option th:value = "ROLE_ADMIN" th:text = "ROLE_ADMIN"></option>
							<option th:value = "ROLE_DOCTOR"  th:text = "ROLE_DOCTOR"></option>
						</select>
					</td>
				</tr>
			</table>
			<input id ="usersIDs" name ="IDsList" type="hidden" th:value ="${list.usersIDs}"/>
		</form>
		
		<table class = "buttons-table">
			<tr>
				<td><button class = "button-search" name = "action" form = "update" type="submit" value = "search" th:text = "#{search}"></button></td>
				<td><button class = "button-create"name = "action" form = "update" type="submit" value = "create" th:text = "#{create}"></button></td>
				<td><button class = "button-update"name = "action" form = "update" type="submit" value = "update" th:text = "#{update}"></button></td>
				<td><button class = "button-delete" name = "action" form = "update" type="submit" value = "delete" th:text = "#{delete}"></button></td>
			</tr>
		</table>
	</div>

</body>
</html>