<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<title th:text="#{home.login}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/admin/body.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/admin/workSchedule.css}" />
</head>

<body  style="margin: 0px;">

	<div th:replace = "fragments/adminHeader"></div>
	<div th:replace = "fragments/adminMenu"></div>
	
	<div id ="body">
		<div id = "schedule-div">
			<table id = "workSchedule-table" class ="admin-table">
				<thead>
				<tr>
					<th class = "table-header" th:text = "#{table.room}"></th>
					<th class = "table-header" th:text = "#{table.day}"></th>
					<th class = "table-header" th:text = "#{table.begin}"></th>
					<th class = "table-header" th:text = "#{table.end}"></th>
					<th class = "table-header" th:text = "#{table.doctorID}"></th>
					<th class = "table-header" style = "max-width: 5.2vw;min-width: 5.2vw;" th:text = "#{table.select}"></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="schedule, iterStat : ${workSchedules}" th:class = "${iterStat.odd}? 'odd' : 'even'">
					<td th:text = "${schedule.getRoom()}"></td>
					<td th:text = "${schedule.getDay()}"></td>
					<td th:text = "${schedule.getStart()}"></td>
					<td th:text = "${schedule.getEnd()}"></td>
					<td th:text = "${schedule.getPesel()}"></td>
					<td style = "max-width: 4vw;min-width: 4vw;">
					<input id="select" name = "select" type ="checkbox" onclick="sub()" th:value = "${schedule.getID()}"></td>
				</tr>
				</tbody>
			</table>
			
			<script type="text/javascript">
				function sub(){
			         var val = [];
			         
			         $(':checkbox:checked').each(function(i){
			           val[i] = $(this).val();
			         });
			         
			         document.getElementById("scheduleIDs").value = val;
				}
			</script>
			
			
			<form id ="update" action = "#" th:action="@{/admin/workSchedule}" th:object="${workSchedule}"  method="post">
				<table id = "input-table-schedule">
					<tr>
						<td>
							<label class = "admin" th:text = "#{form.doctorID}"></label>
						</td>
						<td>
							<input class = "admin" th:field = "*{pesel}" type = "text"/>
						</td>
						<td>
							<label class = "admin" th:text = "#{form.room}">:</label>
						</td>
						<td>
							<input class = "admin" th:field = "*{room}" type = "text"/>
						</td>
					</tr>
					<tr>
						<td>
							<label class = "admin" th:text = "#{form.begin}"></label>
						</td>
						<td>
							<input class = "admin" th:field = "*{start}" type = "text"/>
						</td>
						<td>
							<label class = "admin" th:text = "#{form.end}" ></label>
						</td>
						<td>
							<input class = "admin" th:field = "*{end}" type = "text"/>
						</td>
					</tr>
					<tr>
						<td>
							<label class = "admin" th:text = "#{form.day}"></label>
						</td>
						<td>
						<select class = "admin" th:field = "*{day}">
							<option selected="selected" value = ""></option>
							<option th:value = "Monday" th:text = "#{day.monday}"></option>
							<option th:value = "Tuesday" th:text = "#{day.tuesday}"></option>
							<option th:value = "Wednesday" th:text = "#{day.wednesday}"></option>
							<option th:value = "Thursday" th:text = "#{day.thursday}"></option>
							<option th:value = "Friday" th:text = "#{day.friday}"></option>
							<option th:value = "Saturday" th:text = "#{day.saturday}"></option>
						</select>
						</td>
					</tr>
				</table>
				<input id ="scheduleIDs" name ="IDsList" type="hidden" th:value ="${list.usersIDs}"/>
			</form>	
			<table class = "buttons-table">
				<tr>
					<td><button class = "button-search" name = "action" form = "update" type="submit" value = "search" th:text = "#{search}"></button></td>
					<td><button class = "button-create"name = "action" form = "update" type="submit" value = "create" th:text = "#{create}"></button></td>
					<td><button class = "button-update"name = "action" form = "update" type="submit" value = "update" th:text = "#{update}"></button></td>
					<td><button class = "button-delete" name = "action" form = "update" type="submit" value = "delete" th:text = "#{delete}"></button></td>
				</tr>
			</table>
		</div>
		<div id = "doctors-div">
			<table id = "workSchedule-doctors-table" class ="admin-table">
				<thead>
				<tr>
					<th class = "table-header" th:text = "#{table.doctorID}"></th>
					<th class = "table-header" th:text = "#{table.name}"></th>
					<th class = "table-header" th:text = "#{table.surname}"></th>
					<th  style = "max-width: 8vw;min-width: 8vw; text-align: left" class = "table-header" th:text = "#{table.specialization}"></th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="doctor, iterStat : ${allDoctors}" th:class = "${iterStat.odd}? 'odd' : 'even'">
					<td th:text = "${doctor.getPesel()}"></td>
					<td th:text = "${doctor.getName()}"></td>
					<td th:text = "${doctor.getSurname()}"></td>
					<td th:text = "${doctor.getSpecialization_1()}"></td>
				</tr>
				</tbody>
			</table>	
			
			<form id ="searchDoctors" action = "#" th:action="@{/admin/workSchedule/search}" th:object="${doctor}" method="post">
				<table id ="search-doctors-table">
					<tr>
						<td>
							<label class = "admin" th:text = "#{form.specialization}"></label>
						</td>
						<td>
							<input class = "admin" th:field="*{specialization_1}" type = "text"/>
						</td>
						<td colspan="2" style = "text-align: center;">
							<button id = "button-search-doctor" class = "button-search" name = "action" form = "searchDoctors" type="submit" th:text = "#{search}"></button>		
						</td>
					</tr>
					<tr>
						<td>
							<label class = "admin" th:text = "#{form.doctorID}">></label>
						</td>
						<td>
							<input class = "admin" th:field="*{pesel}" type = "text"/>
						</td>
					</tr>
					<tr>
						<td>
							<label class = "admin" th:text = "#{form.surname}"></label>
						</td>
						<td>
							<input class = "admin" th:field="*{surname}" type = "text"/>
						</td>
					</tr>
					<tr>
						<td>
						<label class = "admin" th:text = "#{form.name}"></label>
						</td>
						<td>
							<input class = "admin" th:field="*{name}" type = "text"/>
						</td>
					</tr>
				</table>
			</form>	
			
		</div>
	</div>
	


</body>
</html>