<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title th:text="#{home.login}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/admin/body.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/admin/workSchedule.css}" />
</head>

<body  style="margin: 0px;">

	<div th:replace = "fragments/adminHeader"></div>
	<div th:replace = "fragments/adminMenu"></div>
	
	<div id ="body">
	
		<table id = "workSchedule-table" class ="admin-table">
			<thead>
			<tr>
				<th class = "table-header" >room</th>
				<th class = "table-header" >day</th>
				<th class = "table-header">start</th>
				<th class = "table-header">end</th>
				<th class = "table-header" >doctor</th>
				<th class = "table-header" style = "max-width: 5.2vw;min-width: 5.2vw;" >select</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="schedule, iterStat : ${workSchedules}" th:class = "${iterStat.odd}? 'odd' : 'even'">
				<td th:text = "${schedule.getRoom()}"></td>
				<td th:text = "${schedule.getDay()}"></td>
				<td th:text = "${schedule.getStart()}"></td>
				<td th:text = "${schedule.getEnd()}"></td>
				<td th:text = "${schedule.getPesel()}"></td>
				<td style = "max-width: 4vw;min-width: 4vw;">
				<input id="select" name = "select" type ="checkbox" onclick="sub()" th:value = "${schedule.getPesel()}"></td>
			</tr>
			</tbody>
		</table>
		
		<script type="text/javascript">
			function sub(){
		         var val = [];
		         
		         $(':checkbox:checked').each(function(i){
		           val[i] = $(this).val();
		         });
		         
		         document.getElementById("scheduleIDs").value = val;
			}
		</script>
		
		<table id = "workSchedule-doctors-table" class ="admin-table">
			<thead>
			<tr>
				<th class = "table-header" >Doctor ID</th>
				<th class = "table-header" >Name</th>
				<th class = "table-header" >Surname</th>
				<th class = "table-header" >Specialization</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="doctor, iterStat : ${allDoctors}" th:class = "${iterStat.odd}? 'odd' : 'even'">
				<td th:text = "${doctor.getPesel()}"></td>
				<td th:text = "${doctor.getName()}"></td>
				<td th:text = "${doctor.getSurname()}"></td>
				<td style = "max-width: 5.5vw;min-width: 5.5vw;" th:text = "${doctor.getSpecialization_1()}"></td>
			</tr>
			</tbody>
		</table>	
		
		
		<form id ="update" action = "#" th:action="@{/admin/workSchedule}" th:object="${workSchedule}"  method="post">
			<table id = "input-table-schedule">
				<tr>
					<td>
						<label class = "admin">Doctor ID:</label>
					</td>
					<td>
						<input class = "admin" th:field = "*{pesel}" type = "text"/>
					</td>
					<td>
						<label class = "admin" th:text = "#{form.room}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{room}" type = "text"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class = "admin" th:text = "#{form.begin}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{start}" type = "text"/>
					</td>
					<td>
						<label class = "admin" th:text = "#{form.end}" ></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{end}" type = "text"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class = "admin" th:text = "#{form.day}"></label>
					</td>
					<td>
						<input class = "admin" th:field = "*{day}" type = "text"/>
					</td>
				</tr>
			</table>
		</form>	
		
	
		<form id ="searchDoctors" action = "#" th:action="@{/admin/workSchedule/search}" th:object="${doctor}" method="post">
			<table style="float: left;">
				<tr>
					<td>
						<label class = "admin">Doctor ID:</label>
					</td>
					<td>
						<input class = "admin" th:field="*{pesel}" type = "text"/>
					</td>
					<td>
						<label class = "admin" >Specialization</label>
					</td>
					<td>
						<input class = "admin" th:field="*{specialization_1}" type = "text"/>
					</td>
				</tr>
				<tr>
				<td>
					<label class = "admin" th:text = "#{form.name}"></label>
					</td>
					<td>
						<input class = "admin" th:field="*{name}" type = "text"/>
					</td>
					<td>
						<label class = "admin" th:text = "#{form.surname}"></label>
					</td>
					<td>
						<input class = "admin" th:field="*{surname}" type = "text"/>
					</td>
				</tr>
			</table>
		</form>	
			
			<button id = "button-search" name = "action" form = "update" type="submit" value = "add" >add</button>
			<button id = "button-search" name = "action" form = "searchDoctors" type="submit" th:text = "#{search}"></button>
	
	</div>
	


</body>
</html>