<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title th:text="#{mail.forgotAccount.securityCode}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/mainBody.css}" />
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/login.css}" />
</head>

<body  style="margin: 0px;">

	<div th:replace = "fragments/mainHeader"></div>
	
	<div id = "body">
		<div id = "login">
			<div id = "login-header">
				<h1 id = "login-title" th:text = "#{mail.forgotAccount.securityCode}"></h1>	
			</div>
			
			<form th:action="@{/forgot-account-2}"  method="post">		
				<p style="padding-left:1vw; padding-right: 1vw;" th:text = "#{forgotAccount.mail.info}"/>	
				<table>
					<tr>
						<td>
							<input type = "text" class = "login-input" name = "enteredCode" 
								th:placeholder = "#{mail.forgotAccount.securityCode}"/>
						</td>
					</tr>
				</table>
				
				<input type = "hidden" name = "code" th:value = "${code}"/>
				<input type = "hidden" name = "email" th:value = "${email}"/>
				
				<button type="submit"  th:text="#{send}"></button>
			
			</form>		
		
		</div>
	
	</div>
	
	<div th:replace = "fragments/fotter"></div>

</body>
</html>