<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title th:text="#{home.login}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/mainBody.css}" />
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/login.css}" />
</head>

<body  style="margin: 0px;">

	<div th:replace = "fragments/mainHeader"></div>
	
	<div id = "body">
		<div id = "login">
			<div id = "login-header">
				<h1 id = "login-title" th:text = "#{login.title}"></h1>		
			</div>
			
			<form th:action="@{/login}"  method="post">
				<p style = "color: red;" th:if = "${param.error}" th:text="#{login.error}"/>
				<table>
					<tr>
						<td>
							<input type = "text" class = "login-input" id = "pesel" name = "pesel" th:placeholder = "#{personalIdentificationNumber}"/>
						</td>
					</tr>
					<tr>
						<td>
							<input type = "password" class = "login-input" id = "password" name = "password" th:placeholder = "#{password}"/>
						</td>
					</tr>
				</table>
				
				 <button type="submit"  th:text="#{log-in}"></button>
			
			</form>		
		
		</div>
	
	</div>
	
	<div th:replace = "fragments/fotter"></div>

</body>
</html>