<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title th:text="#{home.registration}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/mainBody.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/registration.css}" />
<body  style="margin: 0px;">

	<div th:replace = "fragments/mainHeader"></div>
	
	<div id = "body">
	
		<div id = "registration-form">
			<div id = "registration-header">
				<h1 id = "registration-title" th:text = "#{registration.title}"></h1>
				
			</div>
			
			<form action = "#" th:action="@{/registration}"  method="post">	
			<h2 th:text="#{registration.personalDetails}"></h2>
			<table class = "registration-table">
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text="#{registration.gender}"></label>
					</td>
					<td class = "registration-table-column-2">
						<label class = "registration-label" style ="padding-right: 0.1vw;" th:text="#{registration.gender.male}"></label>
						<input type="radio"  th:value="#{registration.gender.male}" checked/>
						
						<label class = "registration-label" style ="padding-right: 0.1vw; padding-left: 1.5vw;" th:text="#{registration.gender.female}"></label>
						<input type="radio"  th:value="#{registration.gender.female}" />
					</td>
				</tr>
				<tr>	
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.name}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text"  class = "registration-input"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.surname}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text"  class = "registration-input"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.birthDate}"></label>
					</td>
					<td class = "registration-table-column-2">
						<label class = "registration-label" style ="padding-right: 0.1vw;" th:text = "#{registration.birthDate.day}"></label>
						<select name="week_scroll">
						    <option th:each="n : ${#numbers.sequence(1,31)}" th:value="${n}" th:text="${n}"/>
						</select>
						
						<label class = "registration-label" style ="padding-right: 0.1vw; padding-left: 1vw;" th:text = "#{registration.birthDate.month}"></label>
						<select name="week_scroll">
						    <option th:each="n : ${#numbers.sequence(1,12)}" th:value="${n}" th:text="${n}"/>
						</select>
						
						<label class = "registration-label" style ="padding-right: 0.1vw; padding-left: 1vw;" th:text = "#{registration.birthDate.year}"></label>
						<select name="week_scroll">
						    <option th:each="n : ${#numbers.sequence(#dates.year(#dates.createNow()),1900)}" th:value="${n}" th:text="${n}"/>
						</select>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.personalIdentificationNumber}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text"  class = "registration-input"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.password}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "password"  class = "registration-input"/>
					</td>
				</tr>			
			</table>
			
			<h2 th:text="#{registration.address}"></h2>
			<table style ="padding-left: 9.5vw;" class = "registration-table">
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.streetAddress}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text"  class = "registration-input"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.city}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text"  class = "registration-input"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.postalCode}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text"  class = "registration-input"/>
					</td>
				</tr>
			</table>
			
			<h2 th:text="#{registration.contact}"></h2>
			<table style ="padding-left: 9.5vw;" class = "registration-table">
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.phone}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text"  class = "registration-input"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{registration.email}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text"  class = "registration-input"/>
					</td>
				</tr>
			</table>
			 <button type="submit"  th:text="#{registration.send}"></button>
			</form>
		</div>	
	
	</div>
	
	<div th:replace = "fragments/fotter"></div>

</body>
</html>