<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title th:text="#{home.registrationCompleted}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/mainBody.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/registration-completed.css}" />
</head>

<body  style="margin: 0px;">

	<div th:replace = "fragments/mainHeader"></div>
	
	<div id = "body">
	
		<div id = "registration-completed">
			<h2 th:text = "#{home.registrationCompleted}"></h2>
			<strong th:text = "#{home.registrationCompleted.info1}"></strong><br>
			<strong th:utext = "#{home.registrationCompleted.info2} + ${accountNumber + '.'}"></strong><br>
			<strong th:text = "#{home.registrationCompleted.info3}"></strong>
		</div>
		
	
	</div>	
	
	<div th:replace = "fragments/fotter"></div>

</body>
</html>