<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title th:text="#{home.registration}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/mainBody.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/main/registration.css}" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker(
		{dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '-110:+0'} 
    	);
  });
  </script>
</head>
<body  style="margin: 0px;">

	<div th:replace = "fragments/mainHeader"></div>
	
	<div id = "body">
	
		<div id = "registration-form">
			<div id = "registration-header">
				<h1 id = "registration-title" th:text = "#{registration.title}"></h1>
				
			</div>
			
			<form action = "#" th:action="@{/registration}" th:object="${patient}"  method="post">
			
			<div th:if="${#fields.hasAnyErrors()}">
			  	<p th:each="err : ${#fields.allErrors()}" th:text="${err}" style ="color: red;"></p>
			</div>
				
			<h2 th:text="#{registration.personalDetails}"></h2>
			<table style ="padding-left: 3.5vw;" class = "registration-table">
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text="#{form.gender}"></label>
					</td>
					<td class = "registration-table-column-2">
						<label class = "registration-label" style ="padding-right: 0.1vw;" th:text="#{form.gender.male}"></label>
						<input type="radio" th:field="*{gender}"  th:value="male" checked/>
						
						<label class = "registration-label" style ="padding-right: 0.1vw; padding-left: 1.5vw;" th:text="#{form.gender.female}"></label>
						<input type="radio"  th:field="*{gender}"  th:value="female" />
					</td>
				</tr>
				<tr>	
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{form.name}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text" th:field="*{name}"  class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{form.surname}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text" th:field="*{surname}"  class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{form.birthDate}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input id = "datepicker" th:field="*{birthDate}" class = "registration-input" th:errorclass = "error"/>
						
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{personalIdentificationNumber}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text" th:field="*{pesel}"  class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{password}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "password" th:field="*{password}"  class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>			
			</table>
			
			<h2 th:text="#{registration.address}"></h2>
			<table style ="padding-left: 9.5vw;" class = "registration-table">
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{form.streetAddress}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text" th:field="*{streetAddress}"  class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{form.city}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text" th:field="*{city}"  class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{form.postalCode}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text" th:field="*{postalCode}" class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>
			</table>
			
			<h2 th:text="#{registration.contact}"></h2>
			<table style ="padding-left: 9.5vw;" class = "registration-table">
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{form.phone}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text" th:field="*{phone}"  class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>
				<tr>
					<td class = "registration-table-column-1">
						<label class = "registration-label" th:text = "#{form.email}"></label>
					</td>
					<td class = "registration-table-column-2">
						<input type = "text" th:field="*{email}"  class = "registration-input" th:errorclass = "error"/>
					</td>
				</tr>
			</table>
			 <button type="submit"  th:text="#{send}"></button>
			</form>
		</div>	
	
	</div>
	
	<div th:replace = "fragments/fotter"></div>

</body>
</html>