#login{
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%;
	
	width: 40%;
	height: 45vh;
	
	background-color: #f2f2f2;
	border: 0.2vw solid #0063c6;
	border-radius: 0.8vw;
	
}

#login-header{
	witdh: 100%;
	height: 10vh;
	margin: 0%;
	background-color: #0063c6;
	text-align: center;
	
}

#login-title{
	font-family: "Arial", Helvetica, sans-serif;
	font-weight: 600;
	font-size: 2.8vw;
	color: white;
	letter-spacing: 0.3vw;
}

.login-input{
	border: 0.1vw solid blue;
	border-radius: 0.5vw;
	box-sizing: border-box;
	width: 75%;
	
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 1.6vw;
	padding: 0.5vw 1vw;
	margin: 0.1vw;
	box-shadow: 0.2vw 0.2vw 0.1vw grey;

}
.login-input:FOCUS{
	background-color: #f2f2f2;
	box-shadow: 0.3vw 0.3vw 0.2vw grey;
}
.login-input:HOVER{
	background-color: #f2f2f2;
}

table{
	margin-top: 5%;
}

td{
	padding: 3.5%;	
	width: 50%;
}

button{	
	text-align: center;
	color: white;
	background-color: #0063c6;
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 1.3vw;
	padding: 1vw 3vw;
	
	border: none;
	border-radius: 1vw;
	box-shadow: 0.1vw 0.1vw 0.05vw grey;
	margin-top: 0.8vw;
	cursor: pointer;
}
button:HOVER {
	background-color: #3333cc;
	box-shadow: 0.3vw 0.3vw 0.15vw grey;
}