<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/fragments/fotter.css}" />
</head>
<body>

	<div id = "fotter">
		<p class = "text-fotter"> Author:  
			<a class = "fotter" href="https://www.github.com/marcinseweryn/">Marcin Seweryn</a>
		</p>
	</div>

</body>
</html>