<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/fragments/mainHeader.css}" />
</head>
<body>

	<div id = "mainHeader" th:fragment = "mainHeader">
		<div id = "mainHeader-title">
		
			<div id = "gb" onclick="window.location.href='?lang=en'"></div>
			<div id = "pl" onclick="window.location.href='?lang=pl'"></div>
			
			<h1><a href="https://localhost:8443/HealthCenter/" th:text="#{home.title}"></a></h1>
		</div>
		<div id = "mainHeader-menu">
		
			<div class = "mainHeader-menu"  onclick="window.location.href='login'">
				<p class = "textHeader-Menu" th:text="#{home.login}"> </p>
			</div>
			
			<div class = "mainHeader-menu"  onclick="window.location.href='registration'">
				<p class = "textHeader-Menu" th:text="#{home.registration}"> </p>
			</div>
			
			<div class = "mainHeader-menu"  onclick="window.location.href='information'">
				<p class = "textHeader-Menu" th:text="#{home.information}"> </p>
			</div>
			
			<div id = "mainHeader-menu-aboutUs"  onclick="window.location.href='aboutUs'">
				<p class = "textHeader-Menu" th:text="#{home.aboutUs}"> </p>
			</div>
		</div>
	</div>

</body>
</html>