<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/fragments/userMenu.css}" />
</head>
<body>

	<div id = "admin-menu">
		<table>
			<tr>
				<td>Lorem ipsum</td>
			</tr>
			<tr>
				<td>Lorem ipsum</td>
			</tr>
			<tr>
				<td>Lorem ipsum</td>
			</tr>
			<tr>
				<td>Lorem ipsum</td>
			</tr>
			<tr>
				<td>Lorem ipsum</td>
			</tr>
			<tr>
				<td>Lorem ipsum</td>
			</tr>
		</table>
	</div>

</body>
</html>