<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/fragments/userMenu.css}" />
</head>
<body>

	<div id = "user-menu">
		<table>
			<tr>
				<td>
				<a th:text = "#{menu.registration}" href="https://localhost:8443/HealthCenter/user/registration-to"></a>
				</td>
			</tr>
			<tr>
				<td>
					<a th:text = "#{menu.visits}" href="https://localhost:8443/HealthCenter/user/visits"></a>
				</td>
			</tr>
			<tr>
				<td>
					<a th:text = "#{menu.queue}" href="https://localhost:8443/HealthCenter/user/queue"></a>
				</td>
			</tr>
			<tr>
				<td><a>Lorem ipsum</a></td>
			</tr>
			<tr>
				<td><a>Lorem ipsum</a></td>
			</tr>
			<tr>
				<td><a>Lorem ipsum</a></td>
			</tr>
		</table>
	</div>

</body>
</html>