<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title th:text = "#{myAccount}" ></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/user/body.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/user/myAccount.css}" />
</head>

<body style="margin: 0px;">

	<div th:include = "fragments/userHeader" th:with="username = ${username}"></div>
	<div th:include = "fragments/userMenu"></div>
	
	<div id ="body">
	
		<div id = "myAccount-title">
			<p th:text = "#{myAccount}"></p>
		</div>
	
		<form action = "#" th:action="@{/user/myAccount}" th:object="${patient}" method="post">

			<table class = "myAccount-table">
				<tr>
					<td>
						<label class ="user" th:text = "#{form.name}"></label>
					</td>
					<td>
						<input class ="user" type = "text" th:field="*{name}"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class ="user" th:text = "#{form.surname}"></label>
					</td>
					<td>
						<input class ="user" type = "text" th:field="*{surname}"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class ="user" th:text = "#{password}"></label>
					</td>
					<td>
						<input class ="user" type = "password" th:field="*{password}"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class ="user" th:text = "#{form.phone}"></label>
					</td>
					<td>
						<input class ="user" type = "text" th:field="*{phone}"/>
					</td>
				</tr>
			</table>
			<table class = "myAccount-table">			
				<tr>
					<td>
						<label class ="user" th:text = "#{form.streetAddress}"></label>
					</td>
					<td>
						<input class ="user" type = "text" th:field="*{streetAddress}"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class ="user" th:text = "#{form.city}"></label>
					</td>
					<td>
						<input class ="user" type = "text" th:field="*{city}"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class ="user" th:text = "#{form.postalCode}"></label>
					</td>
					<td>
						<input class ="user" type = "text" th:field="*{postalCode}"/>
					</td>
				</tr>
				<tr>
					<td>
						<label class ="user" th:text = "#{form.email}"></label>
					</td>
					<td>
						<input class ="user" type = "text" th:field="*{email}"/>
					</td>
				</tr>
		</table>
		
		<table class = "myAccount-table-bottom" style = "padding-top: 1vh;">
		<tr>
		<td>
			<label class ="user" th:text = "#{patient.sensitizations} + ':'"></label>
			<textarea rows="4" cols="60" maxlength="400"
				th:field = "*{sensitizations}"></textarea>
		</td>
		<td>	
			<label class ="user" th:text = "#{patient.chronicDiseases} + ':'"></label>
			<textarea rows="4" cols="60" maxlength="300"
				th:field = "*{chronicDiseases}"></textarea>
		</td>	
		</tr>
		<tr>	
		<td>
			<label class ="user" th:text = "#{patient.solidDrugs} + ':'"></label>
			<textarea rows="4" cols="60" maxlength="500"
				th:field = "*{solidDrugs}"></textarea>
			
		</td>
		<td>	
			<button id = "myAccount-save" class ="user" type="submit"  th:text="#{save}"></button>
		</td>
		</tr>
			</table>
		</form>
	
	</div>
	
</body>
</html>