<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title> HOME</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/user/body.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/user/registration.css}" />
</head>

<body style="margin: 0px;">

	<div th:include = "fragments/userHeader" th:with="username = ${username}"></div>
	<div th:include = "fragments/userMenu"></div>
	
	
	<div id ="body">
	
	<div th:if ="${alreadyRegistered == true}" class="alert">
	  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
	  <strong th:text = "#{alreadyRegistered}"></strong>
	</div>
	
		
		<table class = "user duty-table">
			<tr>
				<th th:utext = "${#strings.substring(dutyList.get(0).getDate(),0,16) 
				 + '&lt;br /&gt;' } + #{table.room} + ${': ' + dutyList.get(0).getRoom()} + '&lt;br /&gt;'
				 + #{table.freeSlots} + ${dutyList.get(0).getFreeSlots()}"></th>
			</tr>
			<tr th:each = "visit : ${visitList1}">
				<td th:text="${visit.getPositionInQueue()}" ></td>
			</tr>
			<tr>
				<td>
				<form action = "#" th:action="@{/user/registration-date}"  method="post">
					<button th:if ="${dutyList.get(0).getFreeSlots() > 0 and alreadyRegistered == false}" 
						name = "dutyID" class = "user" th:value = "${dutyList.get(0).getID()}" th:text = "#{table.select}"></button>
				</form>
				</td>
			</tr>
		</table>
		
		
		<table class = "user duty-table">
			<tr>
				<th th:utext = "${#strings.substring(dutyList.get(1).getDate(),0,16) 
				 + '&lt;br /&gt;' } + #{table.room} + ${': ' + dutyList.get(1).getRoom()} + '&lt;br /&gt;'
				 + #{table.freeSlots} + ${dutyList.get(1).getFreeSlots()}"></th>
			</tr>
			<tr th:each = "visit : ${visitList2}">
				<td th:text="${visit.getPositionInQueue()}" ></td>
			</tr>
			<tr>
				<td>
				<form action = "#" th:action="@{/user/registration-date}"  method="post">
					<button th:if ="${dutyList.get(1).getFreeSlots() > 0 and alreadyRegistered == false}" 
						name = "dutyID" class = "user" th:value = "${dutyList.get(1).getID()}" th:text = "#{table.select}"></button>
				</form>
				</td>
			</tr>
		</table>
		
		<table class = "user duty-table">
			<tr>
				<th th:utext = "${#strings.substring(dutyList.get(2).getDate(),0,16) 
				 + '&lt;br /&gt;' } + #{table.room} + ${': ' + dutyList.get(2).getRoom()} + '&lt;br /&gt;'
				 + #{table.freeSlots} + ${dutyList.get(2).getFreeSlots()}"></th>
			</tr>
			<tr th:each = "visit,iterStat1 : ${visitList3}">
				<td th:text="${visit.getPositionInQueue()}" ></td>
			</tr>
			<tr>
				<td>
				<form action = "#" th:action="@{/user/registration-date}"  method="post">
					<button th:if ="${dutyList.get(2).getFreeSlots() > 0 and alreadyRegistered == false}" 
						name = "dutyID" class = "user" th:value = "${dutyList.get(2).getID()}" th:text = "#{table.select}"></button>
				</form>
				</td>
			</tr>
		</table>
		
		<table class = "user duty-table">
			<tr>
				<th th:utext = "${#strings.substring(dutyList.get(3).getDate(),0,16) 
				 + '&lt;br /&gt;' } + #{table.room} + ${': ' + dutyList.get(3).getRoom()} + '&lt;br /&gt;'
				 + #{table.freeSlots} + ${dutyList.get(3).getFreeSlots()}"></th>
			</tr>
			<tr th:each = "visit,iterStat1 : ${visitList4}">
				<td th:text="${visit.getPositionInQueue()}" ></td>
			</tr>
			<tr>
				<td>
				<form action = "#" th:action="@{/user/registration-date}"  method="post">
					<button th:if ="${dutyList.get(3).getFreeSlots() > 0 and alreadyRegistered == false}" 
						name = "dutyID" class = "user" th:value = "${dutyList.get(3).getID()}" th:text = "#{table.select}"></button>
				</form>
				</td>
			</tr>
		</table>
		
		<table class = "user duty-table">
			<tr>
				<th th:utext = "${#strings.substring(dutyList.get(4).getDate(),0,16) 
				 + '&lt;br /&gt;' } + #{table.room} + ${': ' + dutyList.get(4).getRoom()} + '&lt;br /&gt;'
				 + #{table.freeSlots} + ${dutyList.get(4).getFreeSlots()}"></th>
			</tr>
			<tr th:each = "visit,iterStat1 : ${visitList5}">
				<td th:text="${visit.getPositionInQueue()}" ></td>
			</tr>
			<tr>
				<td>
				<form action = "#" th:action="@{/user/registration-date}"  method="post">
					<button th:if ="${dutyList.get(4).getFreeSlots() > 0 and alreadyRegistered == false}" 
						name = "dutyID" class = "user" th:value = "${dutyList.get(4).getID()}" th:text = "#{table.select}"></button>
				</form>
				</td>
			</tr>
		</table>
		
		<table class = "user duty-table">
			<tr>
				<th th:utext = "${#strings.substring(dutyList.get(5).getDate(),0,16) 
				 + '&lt;br /&gt;' } + #{table.room} + ${': ' + dutyList.get(5).getRoom()} + '&lt;br /&gt;'
				 + #{table.freeSlots} + ${dutyList.get(5).getFreeSlots()}"></th>
			</tr>
			<tr th:each = "visit,iterStat1 : ${visitList6}">
				<td th:text="${visit.getPositionInQueue()}" ></td>
			</tr>
			<tr>
				<td>
				<form action = "#" th:action="@{/user/registration-date}"  method="post">
					<button th:if ="${dutyList.get(5).getFreeSlots() > 0 and alreadyRegistered == false}" 
						name = "dutyID" class = "user" th:value = "${dutyList.get(5).getID()}" th:text = "#{table.select}"></button>
				</form>
				</td>
			</tr>
		</table>
	
	</div>
	
</body>
</html>