<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
	  style="margin:0px">
<head>
	<title> HOME</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/user/body.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/user/registration.css}" />
</head>

<body style="margin: 0px;">

	<div th:include = "fragments/userHeader" th:with="username = ${username}"></div>
	<div th:include = "fragments/userMenu"></div>
	
	<div id ="body">
		<table class = "user" >
				<tr>
					<th colspan="2" style ="max-width: 13.16vw; min-width: 13.16vw;">Doctor</th>
					<th th:text = "#{day.monday}"></th>
					<th th:text = "#{day.tuesday}"></th>
					<th th:text = "#{day.wednesday}"></th>
					<th th:text = "#{day.thursday}"></th>
					<th th:text = "#{day.friday}"></th>
					<th th:text = "#{day.saturday}"></th>
					<th th:text = "#{table.select}"></th>
				</tr>
		</table>
		<form action = "#" th:action="@{/user/registration-doctor}" method="post">
		<table class ="user" id ="doctors-table">
				<tr th:each="schedule, iterStat : ${weekWorkSchedule}" th:class = "${iterStat.odd}? 'odd' : 'even'">
					<td th:text = "${schedule.getName()}"></td>
					<td th:text = "${schedule.getSurname()}"></td>	
					<td th:text = "${schedule.getMonday()}"></td>	
					<td th:text = "${schedule.getTuesday()}"></td>
					<td th:text = "${schedule.getWednesday()}"></td>
					<td th:text = "${schedule.getThursday()}"></td>	
					<td th:text = "${schedule.getFriday()}"></td>
					<td th:text = "${schedule.getSaturday()}"></td>
					<td style ="padding: 0vw 0vw; min-width: 8.5vw; max-width: 8.5vw;">
						<button name = "doctorID" class = "user" th:value="${schedule.getPesel()}" th:text="#{table.select}"></button>
					</td>
				</tr>
		</table>
		</form>
		
		
	</div>
	
</body>
</html>